*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --text-color:#222;
    --subheading-color:#a0a0a0;
    --placeholder-color:#6c6c6c;
    --primary-color:#fff;
    --secondary-color:#E9EEF6;
    --secondary-hover-color:#dbe1ea;
    --input-bg:#fff;
    --chat-bg:#f1f1f1;
    --chat-border:#dedede;
    --output-bg:#ddd;
    --output-border:#ccc;
}
body.dark{
    --text-color:#f1f1f1;
    --subheading:#bbbbbb;
    --placeholder-color:#999;
    --primary-color:#121212;
    --secondary-hover-color:#2a2a2a;
    --input-bg:#2a2a2a;
    --chat-bg:#1e1e1e;
    --chat-border:#333;
    --output-bg:#2a2a2a;
    --output-border:#444;
}
body{
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}
.header{
    width:100%;
    text-align: center;
    margin: auto;
    margin-top: 20%;
}
.header .title{
    font-weight: 200;
    font-size: 48px;
    width:600px;
    margin: auto;
}
.gemini{
    background: linear-gradient(to right, #4285f4,#d9657d);
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.typing-area{
    width: 100%;
    margin: auto;
    margin-top: 200px;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.input-wrapper{
    border: 1px solid var(--text-color);
    padding: .5rem;
    border-radius: 20px;
}
.input-wrapper input{
    width: 50vw;
    height:60px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    color: var(--text-color);
    padding: 5px;
}
.input-wrapper input:focus{
    padding: auto;
    height: fit-content;
    outline:none;
}
#send-message-button{
    border: none;
    background-color: #efefef;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.chat-area{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 100px auto;
   
}
.chat{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; background-color: var(--chat-bg);
    border: 2px solid var(--chat-border);
}
.output{
    border-color: var(--output-border);
    background-color: var(--output-bg);
}
 .user{
    align-self: flex-end
}
.Gemini{
    align-self: flex-start;
}
@keyframes transition{
    from{
        opacity:0;
        transform: translateY(10px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
.message{
    animation:transition 0.7s ease forwards;
    height: fit-content;
    background-color: var(--chat-bg);
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    padding:1rem;
    border-radius: 15px;
}
.loading{
    animation:transition 0.7s ease forwards;
    height: fit-content;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    padding:1rem;
    border-radius: 15px;
}
.theme-toggle{
    border: none;
    background-color: #efefef;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    padding: .5rem;
}